[tool.poetry]
name = "opshin-pioneer-program"
version = "0.1.0"
description = ""
authors = ["Julius Frost <33183774+juliusfrost@users.noreply.github.com>"]
readme = "README.md"
packages = [{include = "src"}]

[tool.poetry.dependencies]
python = ">=3.8,<3.12"
opshin = "^0.11.0"
pycardano = "*"
click = "^8.1.3"


[tool.poetry.group.dev.dependencies]
black = "^23.1.0"
pre-commit = "^3.2.1"
pytest = "^7.2.1"
hypothesis = "^6.70.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
