[tool.poetry]
name = "eopsin-pioneer-program"
version = "0.1.0"
description = ""
authors = ["Julius Frost <33183774+juliusfrost@users.noreply.github.com>"]
readme = "README.md"
packages = [{include = "src"}]

[tool.poetry.dependencies]
python = "~3.8"
eopsin-lang = "^0.9.9"
pycardano = "*"
blockfrost-python = "*"
click = "^8.1.3"


[tool.poetry.group.dev.dependencies]
black = "^23.1.0"
pre-commit = "^3.0.4"
pytest = "^7.2.1"
hypothesis = "^6.68.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
